*.html
*.xdv
*.aux
_minted-main/
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*fdb_latexmk
test.pdf
*fls
*csv
*.bcf
*.run.xml
*~

# Beamer stuff
test_beamer.pdf
*.nav
*.snm
test_beamer.vrb
_minted-test_beamer/
test_bruface.pdf
ulb_logo_3lp-eps-converted-to.pdf

tests/*.pdf
